.container {
    margin: 2.5rem 0 2.5rem 0;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    background: var(--white);
    justify-content: center;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    
}
.container h2 {
    text-align: center;
}

.container p {
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;

}
.container ul {
    list-style-type: none;
    margin: 1rem 0 1rem 0;

}
.container a {
    color: var(--pomodoro);
    font-weight: 700;
}


@media(max-width: 320px) {

    .container {
        padding: 1rem;
        
    }
    .container p {  
    text-align: center;        
    }
}
