.container {
    height: 100%;
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    color: var(--title);
}

@media(max-width: 1024px) {
    .container h2 {
        margin-top: 2em;
    }
}