.profileContainer {
    display: flex;
    align-items: center;

}


.profileContainer > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;

}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img {
    margin-right: 0.5rem;
} 


/* Responsive */
@media(max-width: 425px) {
    .profileContainer {
        justify-content: center;
        margin-top: 2.5rem;
    
    }
    .profileContainer > img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
    
    }
    .profileContainer div {
        text-align: center;
        margin-left: 1.5rem;
    }
    
}



.logoutButton:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: var(--pomodoro);
    background: var(--white);
}