.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
}


.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

@media(max-width: 425px) {
    .container section {
        display: inline;
    }
}

@media(max-width: 320px) {
    .container section {
        max-width: 320px;
        width: 100%;
    }
}